<div dropdown
     class="pf-c-dropdown">
  <button dropdownToggle
          class="pf-c-dropdown__toggle pf-m-primary"
          i18n-title
          aria-expanded="false"
          title="Logged in user">
    <i class="pf-icon pf-icon-user"></i>
    <span i18n
          class="d-md-none">Logged in user</span>
    <i class="fas fa-caret-down pf-c-dropdown__toggle-icon"
       aria-hidden="true"></i>
  </button>
  <ul *dropdownMenu
      class="dropdown-menu dropdown-menu-right"
      role="menu">
    <li class="disabled"
        role="menuitem">
      <a i18n
         class="pf-c-dropdown__menu-item"
         href="#">Signed in as
      <strong>{{ username }}</strong></a>
    </li>
    <li class="pf-c-dropdown__separator"></li>
    <li *ngIf="!sso"
        role="separator">
      <a class="pf-c-dropdown__menu-item"
         routerLink="/user-profile/edit"
         i18n>
        <i class="pf-icon pf-icon-key"></i>
        Change password
      </a>
    </li>
    <li role="menuitem">
      <a class="pf-c-dropdown__menu-item"
         (click)="logout()"
         i18n>
        <i class="pf-icon pf-icon-locked"></i>
        Sign out
      </a>
    </li>
  </ul>
</div>
