@use './src/styles/vendor/variables' as vv;

.pf-c-about-modal-box {
  font-size: 1.2rem;
  height: 80vh;
  left: -10vw;
  max-width: inherit;
  overflow-y: hidden;
  width: 65vw;
}

.pf-c-about-modal-box__hero {
  background-attachment: inherit;
  background-color: vv.$about-modal;
  background-image: url('/assets/redhat_new_background.svg');
  background-position: 70% -12px;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-versions {
  margin-top: 30px;
}

.product-versions strong {
  margin-right: 10px;
}

.modal-header {
  border-bottom: 0;
}

.modal-body {
  padding-left: 80px;
  padding-right: 80px;
}

.ceph-logo {
  margin-bottom: 30px;
  width: 25%;
}

.modal-content {
  border: unset !important;
}
