.pf-c-about-modal-box {
  font-size: 1.2rem;
  overflow-y: hidden;
  width: 65vw;
  left: -14vw;
  height: 80vh;
}
.pf-c-about-modal-box__hero {
  background-image: url('assets/redhat_new_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: 70% -12px;
  background-color: #1a1a1a;
}
.product-versions {
  margin-top: 30px;
}
.product-versions {
  margin-top: 30px;
}
.product-versions strong {
  margin-right: 10px;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding-left: 80px;
  padding-right: 80px;
}
.modal-footer {
  display: block;
  border-top: none;
  padding: 15px 80px 35px 80px;
}
.modal-content {
  border: unset !important;
}
