@import 'defaults';

:host {
  position: fixed;
  top: $navbar-height + 10px;
  bottom: 10px;
  right: -350px;

  width: 350px;
  max-width: 90vw;

  z-index: 9;

  transition: all 0.6s;
}

:host.active {
  right: 20px;
}

.card {
  height: 100%;
}

ngx-simplebar {
  height: calc(100% - 42.2px);
}

.separator {
  padding: 5px 12px;
  color: $color-popover-seperator-text;
  background-color: $color-popover-seperator-bg;
  font-size: 12px;
}

.pf-m-secondary {
  margin-left: 25%;
}

.btn-link {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 35px;

  .fa-trash {
    width: 50px;
    padding-top: 0px;
  }
}

.pf-c-notification-drawer__header {
  justify-content: space-between;
}

.pf-c-notification-drawer__list-item-description {
  width: 17.5em;
}

table {
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.pf-c-notification-drawer__body {
  overflow: hidden;
  word-break: break-word;
}
