<ng-template #tasksTpl>
  <!-- Executing -->
  <div *ngFor="let executingTask of executingTasks; trackBy:trackByFn">
    <ul class="pf-c-notification-drawer__list tc_task border-0">
      <li class="pf-c-notification-drawer__list-item pf-m-hoverable no-gutters">
        <div class="pf-c-notification-drawer__list-item-header-title">
          <h2 class="pf-c-notification-drawer__list-item-header-title">{{ executingTask.description }}</h2>
        </div>
        <div class="pf-c-notification-drawer__list-item-description">
          <div class="pf-c-progress pf-m-sm">
            <progressbar class="pf-c-progress__bar active"
                         max="100"
                         [value]="executingTask.progress"
                         [animate]="true"></progressbar>
          </div>
          <p class="card-text text-muted">
            <small class="date float-left">
              {{ executingTask.begin_time | cdDate }}
            </small>

            <span class="float-right">
              {{ executingTask.progress || 0 }} %
            </span>
          </p>
        </div>
      </li>
    </ul>
    <hr>
  </div>
</ng-template>

<ng-template #notificationsTpl>
  <ng-container *ngIf="notifications.length > 0">
    <button type="button"
            class="pf-c-button pf-m-secondary"
            (click)="removeAll(); $event.stopPropagation()">
      <i class="fas fa-trash"
         aria-hidden="true"></i>
      &nbsp;
      <ng-container i18n>Clear notifications</ng-container>
    </button>

    <hr>

    <div *ngFor="let notification of notifications; let i = index">
      <ul class="pf-c-notification-drawer__list tc_notification">
        <li class="pf-c-notification-drawer__list-item pf-m-hoverable"
            [ngClass]="notification.overrideTextClass"
            tabindex="0">
          <div class="pf-c-notification-drawer__list-item-header">
            <span class="pf-c-notification-drawer__list-item-header-icon">
              <i [ngClass]="notification.overrideIconClass"></i>
            </span>
            <h2 class="pf-c-notification-drawer__list-item-header-title">{{ notification.title }}</h2>
          </div>
          <div class="pf-c-notification-drawer__list-item-description"
               [innerHtml]="notification.message">
          </div>
          <p class="card-text text-muted">
            <button class="btn btn-link"
                    title="Remove notification"
                    (click)="remove(i); $event.stopPropagation()">
            <i class="fas fa-trash float-right custom-icon"></i>
            </button>
          </p>
          <div class="pf-c-notification-drawer__list-item-timestamp"
               [title]="notification.timestamp | cdDate">{{ notification.timestamp | duration: true }}
            <ng-container *ngIf="notification.duration">
              <small>
                <ng-container i18n>Duration:</ng-container> {{ notification.duration | duration }}
              </small>
              <br>
            </ng-container>
          </div>
        </li>
      </ul>

      <hr>
    </div>
  </ng-container>
</ng-template>

<ng-template #emptyTpl>
  <div *ngIf="notifications.length === 0 && executingTasks.length === 0">
    <div class="message text-center"
         i18n>There are no notifications.</div>
  </div>
</ng-template>

<div class="pf-c-notification-drawer"
     (clickOutside)="closeSidebar()"
     [clickOutsideEnabled]="isSidebarOpened">
  <div class="pf-c-notification-drawer__header">
    <h1 class="pf-c-notification-drawer__header-title"
        i18n>Tasks and Notifications</h1>
    <button class="close float-right"
            tabindex="-1"
            type="button"
            (click)="closeSidebar()">
      <span class="fas fa-times-circle fa-sm"></span>
    </button>
  </div>

  <ngx-simplebar [options]="simplebar">
    <div class="pf-c-notification-drawer__body">
      <ng-container *ngTemplateOutlet="tasksTpl"></ng-container>
      <ng-container *ngTemplateOutlet="notificationsTpl"></ng-container>
      <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
    </div>
  </ngx-simplebar>
</div>
